@import "tailwindcss";

@theme {
    --color-brand-green: #3D480F;
    --color-brand-yellow: #DFFE73;
    --color-brand-teal: #73FED7;
    --color-bg-grey: #DDE0DC;
    --color-cta: #5829D6;
    --color-text: #3B3B3B;

    --radius-*: initial;
    --radius-xsm: 4px;
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 32px;

    --font-open-sans: "Open Sans";
    --font-poppins: Poppins;
    --font-geist-mono: "Geist Mono";
}