@import "tailwindcss";

@layer base {
    
    .money {
        font-family: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    }

    p {
        font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
        font-weight: 400;
        font-size: 14px;

        @variant md {
            font-size: 16px;
        }

        @variant lg {
            font-size: 18px;
        }
    }

    h1, h2 {
        font-family: Satoshi;
    }

    button {
        font-family: Poppins;
    }

    label {
        font-family: "Open Sans";
        font-weight: 700;
    }
}

@font-face {
    font-family: "Geist Mono";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/geist-mono/GeistMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Geist Mono";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/geist-mono/GeistMono-Medium.woff2") format("woff2");
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins/Poppins-Medium.woff2") format("woff2");
}

@font-face {
    font-family: Satoshi;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/satoshi/Satoshi-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 400 700;
    src: url("../fonts/instrument-sans/InstrumentSans-Variable.woff2") format("woff2");
}

@font-face {
    font-family: "Instrument Sans";
    font-style: italic;
    font-weight: 400 700;
    src: url("../fonts/instrument-sans/InstrumentSans-ItalicVariable.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/open-sans/open-sans-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/open-sans/open-sans-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/open-sans/open-sans-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/open-sans/open-sans-bold-italic.woff2") format("woff2");
}